<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's for Dinner?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script defer src="{% static 'dinner/main.js' %}"></script>
</head>
<body>
    <div id="list-container">
        <h1>What's for Dinner?</h1>

            <select class="selected-ingredients" name="veggies" multiple>
                {% for veggie in veggies %}
                <option  value="{{veggie.name}}">{{veggie.name}}</option>
                {% endfor %}
            </select>
            <button class="save-ingredients">Submit</button>

            <select class="selected-ingredients" name="seasonings" multiple>
                {% for seasoning in seasonings %}
                <option  value="{{seasoning.name}}">{{seasoning.name}}</option>
                {% endfor %}
            </select>
            <button class="save-ingredients">Submit</button>

            <select class="selected-ingredients" name="oils" multiple>
                {% for oil in oils %}
                <option  value="{{oil.name}}">{{oil.name}}</option>
                {% endfor %}
            </select>
            <button class="save-ingredients">Submit</button>        
        
        <h3>Selected Ingredients:</h3>
        <ul id="saved-ingredients">

        </ul>
    </div>
</body>
</html> -->



{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's for Dinner?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script defer src="{% static 'dinner/main.js' %}"></script>
</head>
<body>
    <div id="list-container">
        <h1>What's for Dinner?</h1>

            <select id="selected-veggies" name="veggies" multiple>
                {% for veggie in veggies %}
                <option value="{{veggie.name}}">{{veggie.name}}</option>
                {% endfor %}
            </select>
            <button id="save-veggies">Submit</button>

            <select id="selected-seasonings" name="seasonings" multiple>
                {% for seasoning in seasonings %}
                <option value="{{seasoning.name}}">{{seasoning.name}}</option>
                {% endfor %}
            </select>
            <button id="save-seasonings">Submit</button>

            <select id="selected-ingredients" name="oils" multiple>
                {% for oil in oils %}
                <option value="{{oil.name}}">{{oil.name}}</option>
                {% endfor %}
            </select>
            <button id="save-ingredients">Submit</button>        
        
        <h3>Selected Ingredients:</h3>
        <form action="#" method="post">
            <ul id="saved-ingredients">
            </ul>
        </form>
        <h3>Recipes:</h3>
        {% for recipe in recipes %}
        <div>
            <ul>
                <li>
                    {{recipe.name}}
                    {{recipe.source}}
                    {% for ingredient in recipe.recipeingredients_set.all %}
                        {{ingredient.ingredient}}
                    {% endfor %}
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>